---
import Layout from "../layouts/Layout.astro";
import ContactSection from "../components/ContactSection";
import { FaAccessibleIcon, FaWifi } from "react-icons/fa/index.js";
import { ImEnlarge2 } from "react-icons/im/index.js";
import { TbToolsKitchen2 } from "react-icons/tb/index.js";
import { BsShieldLockFill } from "react-icons/bs/index.js";
import { RiErrorWarningLine } from "react-icons/ri/index.js";
import Footer from "../components/Footer.astro";
import BVKitchen from "../assets/BV-kitchen.jpg";
import BVBastu from "../assets/BV-bastu.jpg";
import BVBeds from "../assets/BV-beds.jpg";
import "@splidejs/splide/css";
---

<Layout title={"Bottenvåning"}>
  <section
    class="bg-gray-50 sm:grid sm:grid-cols-2 sm:items-center mt-12 md:mt-28 overflow-hidden"
  >
    <div class="md:p-12 lg:px-16 lg:py-24 p-8">
      <div class="sm:text-left max-w-xl mx-auto text-center">
        <h2 class="md:text-3xl text-2xl font-bold text-gray-900">
          Bottenvåning
        </h2>

        <p class="md:mt-4 md:block hidden text-gray-500"></p>

        <div class="md:mt-8 mt-4">
          <a
            href="#contact"
            class="bg-indigo-600 text-lg text-white py-2.5 px-6 rounded-lg hover:bg-indigo-800 w-fit"
          >
            Kolla tillgänglighet
          </a>
        </div>
      </div>
    </div>

    <section class="splide h-full" aria-label="Splide Basic HTML Example">
      <div class="splide__track h-full">
        <ul class="splide__list h-full">
          <li class="splide__slide mx-auto flex justify-center">
            <img src={BVKitchen} class="h-full" alt="" />
          </li>
          <li class="splide__slide mx-auto flex justify-center">
            <img src={BVBastu} class="h-full" alt="" />
          </li>
          <li class="splide__slide mx-auto flex justify-center">
            <img src={BVBeds} class="h-full" alt="" />
          </li>
        </ul>
      </div>
    </section>
  </section>
  <section class="mt-12 text-white bg-indigo-900">
    <div
      class="sm:py-12 sm:px-6 lg:py-16 lg:px-8 max-w-screen-xl px-4 py-8 mx-auto"
    >
      <div class="max-w-2xl">
        <h2 class="sm:text-4xl text-3xl font-bold">
          Vad ingår i nedre lägenheten?
        </h2>

        <p class="mt-4 text-gray-300">
          Stugan är rökfri och har Yale-lås med personlig veckokod för alla
          gäster. <br /> Vatten, hushållsel och motorvärmare ingår. I närheten finns
          fina vandringsleder, skoterled och skid- och badbuss precis utanför huset.
          En 10-minuters promenad tar dig till Sälfjällstorget med många restauranger
          och affärer.
        </p>
      </div>

      <div
        class="md:mt-16 md:grid-cols-2 md:gap-12 lg:grid-cols-3 grid grid-cols-1 gap-8 mt-8"
      >
        <div class="flex items-start gap-4">
          <span class="shrink-0 p-4 bg-gray-800 rounded-lg">
            <ImEnlarge2 fontSize={20} />
          </span>

          <div>
            <h2 class="text-lg font-bold">Storlek</h2>

            <p class="mt-1 text-sm text-gray-300">
              - <span class="font-bold">42</span> kvm <br /> - <span
                class="font-bold">5</span
              > bäddar <br />
              - <span class="font-bold">1</span> familjesäng <span
                class="font-bold">1</span
              > våningssäng <br /> -
              <span class="font-bold">1</span> badrum med dusch och toalett
            </p>
          </div>
        </div>

        <div class="flex items-start gap-4">
          <span class="shrink-0 p-4 bg-gray-800 rounded-lg">
            <FaWifi fontSize={20} />
          </span>

          <div>
            <h2 class="text-lg font-bold">Internet</h2>

            <p class="mt-1 text-sm text-gray-300">
              - Internet <span class="font-bold">FINNS</span> tillgängligt <br
              /> - <span class="font-bold">WIFI-lösenord</span> ges ut på plats <br
              />
            </p>
          </div>
        </div>

        <div class="flex items-start gap-4">
          <span class="shrink-0 p-4 bg-gray-800 rounded-lg">
            <TbToolsKitchen2 fontSize={20} />
          </span>

          <div>
            <h2 class="text-lg font-bold">Kök</h2>

            <div class="grid grid-cols-2">
              <p class="mt-1 text-sm text-gray-300">
                - <span class="font-bold">Kylskåp</span>
                <br /> - <span class="font-bold">Ugn</span>
                <br /> - <span class="font-bold">Spis</span>
                <br /> - <span class="font-bold">Kaffebryggare</span>
              </p>
              <p class="mt-1 text-sm text-gray-300">
                - <span class="font-bold">Mikrovågsugn</span>
                <br /> - <span class="font-bold">Vattenkokare</span>
                <br /> - <span class="font-bold">Köksredskap</span>
                <br /> - <span class="font-bold">Porslin, glas, bestick</span>
              </p>
            </div>
          </div>
        </div>

        <div class="flex items-start gap-4">
          <span class="shrink-0 p-4 bg-gray-800 rounded-lg">
            <FaAccessibleIcon fontSize={20} />
          </span>

          <div>
            <h2 class="text-lg font-bold">Tillgänglighet</h2>

            <p class="mt-1 text-sm text-gray-300">
              - Lägenheten är <span class="font-bold">Rullstolsanpassad</span>
            </p>
          </div>
        </div>

        <div class="flex items-start gap-4">
          <span class="shrink-0 p-4 bg-gray-800 rounded-lg">
            <BsShieldLockFill fontSize={20} />
          </span>

          <div>
            <h2 class="text-lg font-bold">Säkerhet</h2>

            <p class="mt-1 text-sm text-gray-300">
              - <span class="font-bold">Kylskåp</span> Brandvarnare finns i alla
              rum
              <br /> - <span class="font-bold">Yale-lås</span> finns på alla dörrar
            </p>
          </div>
        </div>

        <div class="flex items-start gap-4">
          <span class="shrink-0 p-4 bg-gray-800 rounded-lg">
            <RiErrorWarningLine fontSize={20} />
          </span>

          <div>
            <h2 class="text-lg font-bold">REGLER</h2>

            <p class="mt-1 text-sm text-gray-300">
              - Rökning <span class="font-bold">EJ</span> tillåtet <br /> - husdjur
              <span class="font-bold">EJ</span> tillåtet
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ContactSection floor={"bottom"} client:visible />
  <Footer />
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

  body {
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: "Montserrat", sans-serif;
  }
</style>

<script>
  import Splide from "@splidejs/splide";
  new Splide(".splide").mount();
</script>
