---
import Layout from "../layouts/Layout.astro";
---

<Layout title="StugaAstrom">
  <section
    class="flex items-center justify-center w-full h-[80vh] bg-fixed bg-center bg-no-repeat bg-cover"
    style="background-image: url(../../../../public/heroImage.jpg)"
  >
    <h1 class="parallax-fade-top">lols</h1>
  </section>
</Layout>

<style>
  .hero {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
</style>
