---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import InfoSection from "../components/InfoSection.astro";
// import Calendar from "../components/Calendar/Calendar.jsx";
import Contact from "../components/Contact.astro";
---

<Layout title="StugaAstrom">
  <div class="grid">
    <Hero />
    <InfoSection />
    <div class="grid grid-cols-1">
      <!-- <Calendar /> -->
      <Contact />
    </div>
  </div>
</Layout>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

  body {
    width: 100%;
    height: 100%;
    background: #fff;
    font-family: "Montserrat", sans-serif;
  }
</style>
