<section class="h-[100vh]">
  <div id="calendar"></div>
</section>

<script>
  import { Calendar } from "fullcalendar";
  document.addEventListener("DOMContentLoaded", function () {
    const calendarEl = document.getElementById("calendar");
    const calendar = new Calendar(calendarEl, {
      initialView: "dayGridMonth",
      selectable: true,
      longPressDelay: 0,
      selectOverlap: false,
      showNonCurrentDates: false,
      height: 700,
    });
    calendar.render();
  });
</script>
