---
import logo from "../assets/logo.png";
---

<footer aria-label="Site Footer" class="bg-indigo-600">
  <div class="sm:px-6 lg:px-8 max-w-screen-xl px-4 py-4 mx-auto">
    <div class="sm:flex sm:items-center sm:justify-between">
      <img src={logo} class="w-20 h-20" />

      <p class="lg:mt-0 lg:text-right mt-4 text-base text-center text-white">
        &copy; FamiljenAstrom 2023 <br />
        <a class="font-normal text-sm" href="/login">login</a>
      </p>
    </div>
  </div>
</footer>
