---
import logo from "../assets/logo.png";
---

<header class="sticky top-0 z-50 h-0">
  <nav
    class="header z-20 flex flex-wrap items-center justify-center w-full pr-6"
  >
    <div class="md:justify-between flex flex-1 max-w-screen-xl">
      <a href="/"><img src={logo} class="w-20 h-20" /></a>
      <div class="flex items-center text-center transition-all duration-500">
        <ul
          class="bg-neutral-900 gap-7 md:bg-transparent bg-opacity-90 md:right-0 -right-full nav-menu md:relative md:flex-row fixed top-0 flex flex-col items-center justify-center w-full h-full m-0 mx-auto text-center duration-500"
        >
          <li class="nav-item">
            <a
              href="/"
              class="hover:text-blue-700 text-2xl font-semibold text-white duration-500"
              >Start</a
            >
          </li>
          <li class="nav-item">
            <a
              href="/about"
              class="hover:text-blue-700 text-2xl font-semibold text-white duration-500"
              >Om oss</a
            >
          </li>
          <li class="nav-item">
            <a
              href="/topApartment"
              class="hover:text-blue-700 text-2xl font-semibold text-white duration-500"
              >Övre Lägenheten</a
            >
          </li>
          <li class="nav-item">
            <a
              href="/bottomApartment"
              class="hover:text-blue-700 text-2xl font-semibold text-white duration-500"
              >Nedre Lägenheten</a
            >
          </li>
        </ul>
      </div>
    </div>

    <div
      class="max-w-fit rounded-br-xl hamburger md:hidden absolute top-0 right-0 p-3"
    >
      <span
        class="m-1.5 duration-500 bar w-10 h-1 block bg-gray-900 rounded-full"
      ></span>
      <span
        class="m-1.5 duration-500 bar w-10 h-1 block bg-gray-900 rounded-full"
      ></span>
      <span
        class="m-1.5 duration-500 bar w-10 h-1 block bg-gray-900 rounded-full"
      ></span>
    </div>
  </nav>
</header>

<script>
  const hamburger = document.querySelector(".hamburger");
  const navMenu = document.querySelector(".nav-menu");

  if (hamburger && navMenu) {
    hamburger.addEventListener("click", () => {
      hamburger.classList.toggle("active");
      navMenu.classList.toggle("active");
    });
  }

  if (hamburger && navMenu) {
    document.querySelectorAll(".nav-link").forEach((link) =>
      link.addEventListener("click", () => {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
      })
    );
  }
</script>

<style>
  .hero-parallax {
    background: rgb(228, 255, 253);
    background: -moz-linear-gradient(
      0deg,
      rgba(228, 255, 253, 1) 0%,
      rgba(244, 239, 230, 1) 100%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(228, 255, 253, 1) 0%,
      rgba(244, 239, 230, 1) 100%
    );
    background: linear-gradient(
      0deg,
      rgba(228, 255, 253, 1) 0%,
      rgba(244, 239, 230, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4fffd",endColorstr="#f4efe6",GradientType=1);
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    #text {
      position: absolute;
      font-size: 65px;
      line-height: 1.25;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 200px;
      z-index: 10;

      background: rgb(244, 239, 230);
      background: -moz-linear-gradient(
        180deg,
        rgba(244, 239, 230, 0) 0%,
        rgba(244, 239, 230, 1) 100%
      );
      background: -webkit-linear-gradient(
        180deg,
        rgba(244, 239, 230, 0) 0%,
        rgba(244, 239, 230, 1) 100%
      );
      background: linear-gradient(
        180deg,
        rgba(244, 239, 230, 0) 0%,
        rgba(244, 239, 230, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4efe6",endColorstr="#f4efe6",GradientType=1);
    }
  }
  @media (max-width: 768px) {
    .active .bar:nth-child(2) {
      opacity: 0;
    }
    .active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(-315deg);
      transform: translateY(10px) rotate(-315deg);
      background-color: white;
    }
    .active .bar:nth-child(3) {
      -webkit-transform: translateY(-10px) rotate(-45deg);
      transform: translateY(-10px) rotate(-45deg);
      background-color: white;
    }
    .active {
      right: 0;
      z-index: 100;
      transition: 0.2s ease;
    }
  }
  @media (min-width: 768px) {
    .header {
      -webkit-backdrop-filter: blur(8px); /* Safari 9+ */
      backdrop-filter: blur(20px); /* Chrome and Opera */
      box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.2);
    }
  }
</style>
