---
---

<header class="sticky top-0 z-10 h-0">
  <nav
    class="flex flex-wrap items-center justify-center ml-12 lg:justify-end w-full p-3 md:p-5 h-fit md:bg-slate-100 z-20"
  >
    <div class="flex items-center text-center transition-all duration-500">
      <ul
        class="fixed top-0 flex flex-col items-center justify-center w-full h-full m-0 mx-auto text-center duration-500 bg-neutral-900 gap-7 md:bg-transparent bg-opacity-90 md:right-0 -right-full nav-menu md:relative md:flex-row md:w-full"
      >
        <li class="nav-item">
          <a
            href="/"
            class="text-3xl font-semibold text-white md:text-gray-900 duration-500 hover:text-blue-700"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            href="/about"
            class="text-3xl font-semibold text-white md:text-gray-900 duration-500 hover:text-blue-700"
            >Om oss</a
          >
        </li>
        <li class="nav-item">
          <a
            href="/about"
            class="text-3xl font-semibold text-white md:text-gray-900 duration-500 hover:text-blue-700"
            >Lägenheter</a
          >
        </li>
        <li class="nav-item">
          <a
            href="/about"
            class="text-3xl font-semibold text-white md:text-gray-900 duration-500 hover:text-blue-700"
          ></a>
        </li>
      </ul>
    </div>

    <div
      class="absolute left-0 bg-neutral-900 opacity-90 top-0 p-3 max-w-fit rounded-br-xl hamburger md:hidden"
    >
      <span
        class="m-1.5 duration-500 bar w-10 h-1 block bg-slate-100 rounded-full"
      ></span>
      <span
        class="m-1.5 duration-500 bar w-10 h-1 block bg-slate-100 rounded-full"
      ></span>
      <span
        class="m-1.5 duration-500 bar w-10 h-1 block bg-slate-100 rounded-full"
      ></span>
    </div>
  </nav>
</header>

<script>
  const hamburger = document.querySelector(".hamburger");
  const navMenu = document.querySelector(".nav-menu");

  if (hamburger && navMenu) {
    hamburger.addEventListener("click", () => {
      hamburger.classList.toggle("active");
      navMenu.classList.toggle("active");
    });
  }

  if (hamburger && navMenu) {
    document.querySelectorAll(".nav-link").forEach((link) =>
      link.addEventListener("click", () => {
        hamburger.classList.remove("active");
        navMenu.classList.remove("active");
      })
    );
  }
</script>

<style>
  .hero-parallax {
    background: rgb(228, 255, 253);
    background: -moz-linear-gradient(
      0deg,
      rgba(228, 255, 253, 1) 0%,
      rgba(244, 239, 230, 1) 100%
    );
    background: -webkit-linear-gradient(
      0deg,
      rgba(228, 255, 253, 1) 0%,
      rgba(244, 239, 230, 1) 100%
    );
    background: linear-gradient(
      0deg,
      rgba(228, 255, 253, 1) 0%,
      rgba(244, 239, 230, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4fffd",endColorstr="#f4efe6",GradientType=1);
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    #text {
      position: absolute;
      font-size: 65px;
      line-height: 1.25;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 200px;
      z-index: 10;

      background: rgb(244, 239, 230);
      background: -moz-linear-gradient(
        180deg,
        rgba(244, 239, 230, 0) 0%,
        rgba(244, 239, 230, 1) 100%
      );
      background: -webkit-linear-gradient(
        180deg,
        rgba(244, 239, 230, 0) 0%,
        rgba(244, 239, 230, 1) 100%
      );
      background: linear-gradient(
        180deg,
        rgba(244, 239, 230, 0) 0%,
        rgba(244, 239, 230, 1) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4efe6",endColorstr="#f4efe6",GradientType=1);
    }
  }
  @media (max-width: 768px) {
    .active .bar:nth-child(2) {
      opacity: 0;
    }
    .active .bar:nth-child(1) {
      -webkit-transform: translateY(8px) rotate(-315deg);
      transform: translateY(10px) rotate(-315deg);
      background-color: white;
    }
    .active .bar:nth-child(3) {
      -webkit-transform: translateY(-10px) rotate(-45deg);
      transform: translateY(-10px) rotate(-45deg);
      background-color: white;
    }
    .active {
      right: 0;
      z-index: 100;
      transition: 0.2s ease;
    }
  }
</style>
