---
import heroImage from "../assets/heroImage.jpg";
import mountMg from "../assets/mountMg.jpg";
import mountFg from "../assets/mountFg.jpg";
---

<div class="relative grid grid-cols-2 p-2 min-h-[340px] md:min-h-fit md:mt-32">
  <div class="flex flex-col gap-4 items-start justify-center">
    <div class="w-20 h-2 bg-blue-600 rounded-full"></div>
    <h1 class="text-xl md:text-3xl z-10 mb-20 md:mb-40">
      <span>Välkommen</span> till <br /> Lindvallsstugan
    </h1>
  </div>
  <div class="flex justify-center items-center">
    <img class="rounded-xl max-h-80" src={heroImage} />
    <img
      class="absolute bottom-0 left-0 h-4/6 mountMg lg:hidden"
      src={mountMg}
    />
  </div>
</div>
