---
import heroImage from "../assets/heroImage.jpg";
import landscapeHeroImage from "../assets/landscapeStuga.jpg";
import skiierIcon from "../assets/skiierIcon.png";
import mountMg from "../assets/mountMg.jpg";
---

<section class="hero-background relative bg-center bg-no-repeat bg-cover">
  <div
    class="bg-white/75 sm:bg-transparent sm:bg-gradient-to-r sm:from-white/95 sm:to-white/25 absolute inset-0"
  >
  </div>

  <div
    class="sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8 relative max-w-screen-xl px-4 py-32 mx-auto"
  >
    <div class="sm:text-left max-w-xl text-center">
      <h1 class="sm:text-5xl text-3xl font-extrabold">
        Välkommen till

        <strong class="block font-extrabold text-indigo-700">
          Lindvallsstugan.
        </strong>
      </h1>

      <p class="sm:text-xl sm:leading-relaxed max-w-lg mt-4">
        Ett Klassiskt och mysigt timmerhus med <span
          class="text-2xl font-extrabold text-indigo-700">2</span
        > lägenheter. Perfekt för en familj eller två par som vill bo tillsammans.
      </p>

      <div
        class="sm:justify-start flex flex-wrap justify-center gap-4 mt-8 text-center"
      >
        <a
          href="#contact"
          class="hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500 inline-block px-12 py-3 text-sm font-medium text-white bg-indigo-600 border border-indigo-600 rounded"
        >
          Kolla tillgänglighet
        </a>

        <a
          href="#moreInfo"
          class="hover:text-indigo-500 focus:outline-none focus:ring active:text-indigo-500 sm:w-auto w-fit block px-12 py-3 text-sm font-medium text-indigo-600 bg-white rounded shadow"
        >
          Läs mer
        </a>
      </div>
    </div>
  </div>
</section>

<style>
  .hero-background {
    background-image: url(../assets/heroImage.jpg);
  }
</style>
