---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
  body {
    min-height: 300vh;
  }
</style>

<script>
  import { gsap } from "gsap/dist/gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.set(".hero", {
    position: "fixed",
    background: "#fff",
    width: "100%",
    height: "100%",
    top: -5,
    left: "50%",
    x: "-50%",
  });
  gsap.set(".scrollDist", { width: "100%", height: "200%" });
  gsap.set(".cloud1", {
    y: 100,
  });
  gsap.set(".cloud2", { y: 150 });
  gsap.set(".cloud3", { y: 0 });
  gsap.set(".mountMg", { y: 50 });
  gsap.set(".mountFg", { y: 50 });
  gsap.to(".cloud1", {
    y: -800,
    scrollTrigger: {
      trigger: "",
      start: "top top",
      end: "bottom bottom",
      scrub: 1,
    },
  });
  gsap.to(".cloud2", {
    y: -500,
    scrollTrigger: {
      trigger: "",
      start: "top top",
      end: "bottom bottom",
      scrub: 1,
    },
  });
  gsap.to(".cloud3", {
    y: -650,
    scrollTrigger: {
      trigger: "",
      start: "top top",
      end: "bottom bottom",
      scrub: 1,
    },
  });
  gsap.to(".mountMg", {
    y: -250,
    scrollTrigger: {
      trigger: "",
      start: "top top",
      end: "bottom bottom",
      scrub: 1,
    },
  });
  gsap.to(".mountFg", {
    y: -600,
    scrollTrigger: {
      trigger: "",
      start: "top top",
      end: "bottom bottom",
      scrub: 1,
    },
  });
</script>
